{% extends 'main/index.html' %}

{% block title %} Базовый отчёт {% endblock %}

{% block content %}
{% load static %}

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Отчёт</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Поделиться</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Экспортировать</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            Что то ещё
          </button>
        </div>
      </div>

<main class="container">
  <div class="my-2 p-4 rounded shadow" style="background-color: #FFFFFF;">
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" name="birthday" class="form-control" placeholder="Выберите дату" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="submit" id="button-addon2">Отпрвить дату</button>
      </div>
    </form>
    <div class="callout">
        Выбрана дата - {% for el in old_data %} {{ el.current_data }} {% endfor %}

    </div>
  </div>
</main>



<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields - Скрипт для формы отправки, слушает отправку формы
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>

{% endblock %}